@using WebUI.Models

@model List<FileModel>

<div id="fileListComponent" class="table-wrapper">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Dosya Türü</th>
                <th scope="col">Dosya Adı</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Extension</td>
                    <td>@item.Name</td>
                    <td>
                        @if (item.Extension == ".png")
                        {
                            <a onclick='myFunction("@item.Name.ToString()")' style="text-decoration:underline !important;cursor: pointer;">Mail At</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="SendMail" asp-controller="File" method="POST"
                data-ajax="true"
                data-ajax-success="OnAjaxSuccess"
                data-ajax-failure="OnAjaxError">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="mailModalLabel">Yeni Mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="MailAddress" class="col-form-label">Alıcı Mail Adresi:</label>
                        <input type="text" class="form-control" id="MailAddress" name="MailAddress" value="test@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Dosya Adı:</label>
                        <input type="text" class="form-control" readonly id="FileName" val="" name="FileName">
                    </div>
                    <div class="form-group">
                        <img id="imgInput" class="img-fluid" src="" alt="Resim" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function myFunction(val) {
        debugger;
        $("#imgInput").attr("src", "/File/GetFile?filePath=" + val + ".png");
        $("#FileName").val(val);
        $("#mailModal").modal("show");
    }
</script>

<style>
    .table-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 336px;
    }
</style>